/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*
=============== 
Variables
===============
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif";
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px ;
    .nav{
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        &,.nav_items{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }
        .nav_items{
            column-gap: 25px;
            .nav_link{
                &:hover{
                    color: #d9d9d9;
                }
            }
        }
        .button{
            padding: 6px 24px;
            border: 2px solid #fff;
            background: transparent;
            border-radius: 6px;
            cursor: pointer;
            &:active{
                transform: scale(0.98);
            }
        }
    }
    .nav_logo{
        font-size: 35px;
    }
    .nav_logo, .nav_link, .button{
        color: #fff;
    }
}
/*  Home  */
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-out;
    }
    &.show{
        &::before{
            opacity: 1;
            pointer-events: auto;
        }
    }
    &.show {
        .form_container{
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%,-50%) scale(1);
            &.active{
                .signup_form{
                    display: block;
                }
                .login_form{
                    display: none;
                }
            }
        }
    }
    .form_container{
        position: absolute;
        max-width: 320px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1.2);
        z-index: 101;
        background: #fff;
        padding: 25px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease-out;
        .signup_form{
            display: none;
        }
        .form_close{
            position: absolute;
            top: 10px;
            right: 20px;
            color: #0b0217;
            font-size: 22px;
            opacity: 0.7;
            cursor: pointer;
        }
        h2{
            font-size: 22px;
            color: #0b0217;
            align-items: center;
        }
        .input_box{
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 40px;
            input{
                height: 100%;
                width: 100%;
                border: none;
                outline: none;
                padding: 0 30px;
                color: #333;
                transition: all 0.2s ease;
                border-bottom: 1.5px solid #aaaaaa;
                &:focus{
                    border-color: #7d2ae8;
                    ~i.email, ~i.password{
                        color: #7d2ae8;
                    }
                }
            }
            i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                &.email, &.password{
                    left: 0;
                    color: #707070;
                }
                &.pw_hide{
                    right: 0;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        .option_field{
            margin-top: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .checkbox{
                display: flex;
                column-gap: 8px;
                white-space: nowrap;
                label{
                    font-size: 12px;
                    cursor: pointer;
                    color: #0b0217;
                    user-select: none;
                }
                input{
                    accent-color: #7d2ae8;
                    // border-radius: 50%;
                }
            }
        }
        a{
            color: #7d2ae8;
            font-size: 12px;
            &:hover{
                text-decoration: underline;
            }
        }
        .button{
            background: #7d2ae8;
            margin-top: 30px;
            width: 100%;
            padding: 10px 0;
            border-radius: 10px;
            border: 2px solid #fff;
            color: #fff;
            cursor: pointer;
            &:active{
                transform: scale(0.98);
            }
        }
        .login_signup{
            font-size: 12px;
            text-align: center;
            margin-top: 15px;
        }
    }
}